<hr />
{% for comment in comments %}
	<div class="well">
		<strong>{{ comment.title }}</strong> (par {{ comment.userSource }})
		<br />
		<strong class="text-info">Dépôt GIT :</strong> {{ comment.git }}
		<br />
		{{ comment.content }}
	</div>
{% else %}
	<div class="alert alert-warning">
		<strong>Aucun commentaire</strong>
	</div>
{% endfor %}